.key {
	/* height: 5rem; */
  /* width: 1rem; */
  flex: 3 0 auto;
  aspect-ratio: 1/6;
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
  border-radius: 3px;
}

.key.black {
  background-color: black;
  flex: 1 0 auto;
}

.key[aria-pressed="true"] {
  background-color: aqua;
}