:root {
  --key-width-proportion: 3;
  --key-height-proportion: 17;
  --black-key-scale-x: .52;
  --black-key-scale-y: .64;
  --black-off-center: 14%;
  --num-white-keys: 52;
}

.key {
  flex: 1 0 auto;
  aspect-ratio: var(--key-width-proportion)/var(--key-height-proportion);
	background-color: #777676;
  box-shadow: inset -1px -1px 1px 0px rgb(61 61 61);
	border-color: black;
	border-width: 1px;
	border-style: solid;
  border-radius: 0 0 3px 3px;
}

.key.black {
  background-color: hsl(182deg 100% 47.77%);
  box-shadow: inset -3px -3px 0 0 rgb(73 165 162);
  border-color: black;
  border-radius: 2px;
  z-index: 2;  
  transform-origin: top left;
  transform: 
    scale(var(--black-key-scale-x), var(--black-key-scale-y)) 
    translateX(-50%);
}

/* Offset black keys on the left of a cluster a litte more left.
Emulates actual keyboard layout and makes the top widths of white
keys and black keys nearly equal. */
.key.black.left {
  transform: 
    scale(var(--black-key-scale-x), var(--black-key-scale-y)) 
    translateX(calc(-50% - var(--black-off-center)));
}

/* Offset black keys on the right of a cluster a litte more right.
Emulates actual keyboard layout and makes the top widths of white
keys and black keys nearly equal. */
.key.black.right {
  transform: 
    scale(var(--black-key-scale-x), var(--black-key-scale-y)) 
    translateX(calc(-50% + var(--black-off-center)));
}

/* Close gaps in the white keys from where the black keys were. */
.key.black + .key {
  margin-left: calc(-1/var(--num-white-keys) * 100%);
}

.key[aria-pressed="true"] {
  --current-hue: 0;
  --component-hues: "";
  background-color: hsl(var(--current-hue), 100%, 72%);
  box-shadow: inset -1px -1px 1px 0px hsl(var(--current-hue), 100%, 25%);
}